@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geologica:wght@100..900&family=Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #1e242b; */
  /* color: whitesmoke; */
  background-color: whitesmoke;
  color: black;
  font-family: Geologica;
}
/* 
********************
  UTILITY STYLES
***********************
*/
a{
  text-decoration: none;
  color: whitesmoke;
}
li{
  list-style: none;
}

img{
  width: 100%;
}
/* main{
  padding-left: 15px ;
  padding-right: 15px;
} */
/*
********************************
  STYLING HEADER SECTION
**********************************
*/
.logo span {
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}
.extra-link a:hover{
  border-bottom: 2px solid whitesmoke;
}

.navbar {
  background: #1e242b;
  padding: 10px 15px 10px 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.extra-link{
  /* border: 2px solid green; */
  padding: 7px;
}
.extra-link > a{
  font-size: 1.3rem;
  margin-left: 15px;
  font-weight: bold;
  
}
.extra-link .ticket-btn{
  background-color: #1a6e67;
  padding: 5px;
  outline: 2px solid whitesmoke ;
  outline-offset: 2px;
  color: white;

} 
.extra-link .ticket-btn:hover{
  background: #1e242b;
  outline-color: aqua;
  border-bottom: 0;
}
/*
********************************
STYLING SEARCH BAR
**********************************
*/
input {
  border-radius: 20px;
  width: 250px;
  padding: 7px;
  border: none;
}
.container1{
  position: relative;
  background: url("./images/background.jpg");
  height : calc(100vh - 60px);
  background-position: center;
  background-size: cover;
  padding: 0 15px 0 15px;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}
.container1 .offer-div {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: 'Geologica', sans-serif;
  right: 100px;
  letter-spacing: 5px;
  top: 50px;
  /* float: right;
  overflow: auto; */
}
.offer-div ul{
  /* text-shadow: 0.2em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00; */
  animation: glitch 725ms infinite;
}
.offer-div .limited-offer{
  color: transparent;
  letter-spacing: 15px;
  -webkit-text-stroke: 1px aqua;
  animation: glitch 500ms infinite;
}
.offer-div h2:nth-child(3){
  color: aqua;
}
.discount{
  /* border: 2px solid red; */
  position: absolute;
  color: white;
  bottom: 300px;
  left: 50px;
  display: flex;
  animation: glitch2 500ms infinite;

}
.discount .num1{
  font-family: Barlow ;
  /* border: 2px solid green; */
  font-size: 5rem;
}
.percentage {
  margin-left: 10px;
}

.percentage .num2 {
  font-size: 2rem;
}
.percentage .num3 span{
  color: aqua;
  font-size: 1.5rem;
  font-weight: 900;
  display: block;
}


/* 
**********
 MOIVE LIST STYLING
**********
*/

.movie-list{
  position: absolute;
  display: flex;
  gap: 25px;
  text-align: center;
  bottom: 30px;
  /* opacity: 0.1; */
  /* border: 2px solid green; */
}
.movie-list img{
  border-radius: 10px;
  width: 200px;
}

.movie-list .mmo1:hover{
  transform: scale(1.1);
}


/* 
*********************
FEATURED MOVIES
**********************
 */

.movie-group{
  background-color: #1e242b;
  padding: 20px ;
}
.movie-group h2{
  text-align: center;
  color: whitesmoke;
  font-size: 2.5rem;

}
.card-container{
  display: flex;
  /* border: 2px solid red; */
  gap: 20px;
  text-align: center;
  color: white;
  padding: 5px;
}