@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geologica:wght@100..900&family=Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #1e242b; */
  /* color: whitesmoke; */
  background-color: #1e242b;
  color: whitesmoke;
}

/* Styling header*/
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
  text-decoration: none;
}

.navbar {
  background: #1e242b;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listed {
  list-style-type: none;
  margin: 0;
  /* padding: 2px 5px; */
  height: 4em;
}

.mm3 {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  padding-top: 20px;
}

.mm3 a {
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  text-decoration: none;
}

/*Styling buy ticket*/
/* button {
  background-color: #0cb8a9;
  margin-left: 10px;
  border-radius: 3px;
  padding: 10px;
  width: 8;
  text-decoration: none;
}

button a {
  color: whitesmoke;
  font-weight: normal;
  font-size: 15px;
} */

.purchase-a {
  color: whitesmoke;
  text-decoration: none;
}

.purchase-a:link {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  padding: 9px 25px;
  border-radius: 2px;
  width: 150px;
  background-color: #0cb8a9;
  cursor: pointer;
}

.purchase {
  border-radius: 3px;
  background-color: #0cb8a9;
  border: 1px solid #0cb8a9;
}

/*Syling search bar*/
input {
  border-radius: 20px;
  height: 1.5em;
  padding: 5px;
}

input:hover {
  text-decoration: none;
  background-color: none;
}

/*styling offer link*/
.offer-div {
  margin-left: 80em;
  padding-top: 25px;
  letter-spacing: 4px;
}

.mm4 {
  list-style-type: none;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  text-transform: bold;
  color: #0cc0df;
}

/* styling discounts */
.discount {
  position: absolute;
  margin-top: 40px;
  margin-right: 70em;
  margin-left: 65px;
  display: flex;
  align-items: flex-start;
  flex: initial;
  color: whitesmoke;
  gap: 5px;
}

.num1 {
  position: relative;
  font-size: 120px;
  font-family: "Six Caps", sans-serif;
  padding-left: 10px;
}

.num2 {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: #0cc0df; */
  margin-top: 20%;
  font-size: 40px;
}

.percentage {
  width: 100px;
}

.num3 span {
  color: #40dfaf;
  display: block;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
}

.num3 {
  font-size: 15px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

/*.img-container {
  position: absolute;
  display: flex;
  padding: 4px;
} */

.movie1 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

/*  styling first movie cards */
div.selector {
  margin-left: 40px;
  /* float: left; */
  padding: 3px;
  display: flex;
  gap: 4rem;
  width: 60em;
}

div.image {
  height: auto;
  width: 900px;
}

div.movie1 {
  padding-left: 30px;
}

div.mov1 {
  text-align: center;
  padding: 15px;
}

/* featured movies */
h2.fmovies {
  text-align: center;
  letter-spacing: 7px;
  font-size: 30px;
}

/* styling new movies */
section {
  display: flex;
  padding: 16px;
}

img.nmovies {
  border: white 8px solid;
  border-radius: 50px;
  /* width: 20em; */
  height: fit-content;
  width: 400px;
  margin-left: 40px;
}

figcaption {
  text-align: center;
  font-size: 29px;
}
